/* Importing Components */
@import './social-media.css';
@import '../abstract/variables.css';

.intro-pages {
    background-color: var(--bg-intro-section);
    width: 100vw;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cream);

}
.intro-pages__heading {
    font-size: 10rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.content {
    background-color: var(--white);
    color: var(--font-color);
    max-width:800px;
    margin: auto;
    padding: 40px 0;
}
.content__heading {
    color: var(--apple-green);
    font-size: 2rem;
    width: fit-content;
    border-bottom: 2px solid var(--apple-green);
    margin-top: 30px;
}
.content__desc {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}
.content__desc__small {
    font-size: 3rem;
    margin-top: 10px;
    text-align: justify;
}
.content__img {
    border-radius: 8px;
    margin: 20px auto;
    width: 560px;
    height: 320px;
    box-shadow: 0 0 7px var(--black-shadow);
}

.content__img__about-us img {
    display: block;
    width: 100%;
}

.content__img__about-project img,
.content__img__about-ireland img,
.more__img {
    display: block;
    width: 100%;
    margin-top: 25px;
}

.photo {
    border-radius: 8px;
}

@media all and (max-width: 900px) {

    .content {
        padding: 30px 10px;
    }
    .content__heading {
        margin-top: 15px;
    }
    .content__desc {
        font-size: 1.125rem;

    }
}
@media all and (max-width: 600px) {

    .content {
        padding: 10px 15px;
    }
    .content__heading {
        font-size: 1.75rem;
        margin-top: 5px;
    }
    .content__desc {
        font-size: .925rem;

    }
}