/* Importing Components */
@import './social-media.css';
@import '../abstract/variables.css';

.intro-pages {
    background-color: var(--bg-intro-section);
    width: 100vw;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--cream);
}
.intro-pages__container {
    margin: auto;
}
.intro-pages__heading {
    font-size: 10rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-shadow: 0 0 5px black;
}
.content {
    background-color: var(--white);
    color: var(--font-color);
    max-width:800px;
    margin: auto;
    padding: 40px 0;
}
.content__heading {
    color: var(--apple-green);
    font-size: 2rem;
    width: fit-content;
    border-bottom: 2px solid var(--apple-green);
    margin-top: 30px;
}
.content__desc {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}
.content__desc__small {
    font-size: 3rem;
    margin-top: 10px;
    text-align: justify;
}
.content__desc-list{
    font-size: 1.2rem;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%235C8001"><path d="M9 19c-.26 0-.51-.1-.71-.29l-6-6A.996.996 0 1 1 3.7 11.3l5.29 5.29L20.28 5.3a.996.996 0 1 1 1.41 1.41l-12 12c-.2.2-.45.29-.71.29Z"></path></svg>'); /*source: svgbackgrounds.com*/
}
.content__desc-list li::marker {
    font-size: 2rem;
    line-height:  .1rem; 
}
.content__img__about-us img {
    display: block;
    width: 100%;
}
.content__img__about-project img,
.content__img__about-ireland img,
.more__img {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 25px;
}
.photo {
    border-radius: 8px;
    width: 100%;
    display: block;
    margin: 20px auto;
    width: auto;
    box-shadow: 0 0 7px var(--black-shadow);
}
.content--link {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--font-color);
    position: relative;
    z-index: 10px; 
}
.content--link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--lime);
    top: 100%;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-out;
}
.content--link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* About-us modification */
.about-us__content {
    padding-top: 0;
    max-width: 650px;
}
/* Large Screens in vertical mode */
@media all and (max-width: 1100px)  and (min-height: 1400px) {
    .intro-pages {
        height: 250px;
        padding: 15px 0;

    }
    .intro-pages__heading {
        font-size: 8rem;
    }
}

/* Ipads and Large Screens */
@media all and (max-width: 1100px)  and (min-height: 1000px) and (max-height: 1400px) {
    .intro-pages__heading {
        font-size: 8rem;
    }
}

@media all and (max-width: 1100px)  and (max-height: 800px) {

    .intro-pages {
        height: 250px;
    }
    .intro-pages__container {
        position: relative;
        top: 40px;
    }
}

@media all and (max-width: 900px) {

    .content {
        padding: 30px 10px;
    }
    .content__heading {
        margin-top: 15px;
    }
    .content__desc, .content__desc-list {
        font-size: 1.125rem;

    }
    .intro-pages {
        padding: 15px 0;

    }
    .intro-pages__heading {
        font-size: 6rem;
    }
    
}
@media all and (max-width: 600px) {

    .content {
        padding: 10px 15px;
    }
    .content__heading {
        font-size: 1.75rem;
        margin-top: 5px;
    }
    .content__desc, .content__desc-list {
        font-size: .925rem;

    }
    .intro-pages {
        flex-direction: column;
        gap: 0px;
        padding: 100px 0 10px 0px;
        height: fit-content;
    
    }
    .intro-pages__heading {
        font-size: 3rem;
        text-align: center;

    }
    
    .content__img{
        display: block;
        width: 100%;
        margin-top: 25px;

    }

    .photo{
        display: block;
        width: 100%;
        margin-top: 25px;
    }
    
}