@import '../abstract/variables.css';

.header {
    position: fixed;
    width: 100%;    
    top: 0;
    z-index: 9999999999;
    
    background: var(--cream);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px 15px;

    box-shadow: 0 5px 6px var(--black-shadow);
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.8rem;
}

.header__logo--icon {
    width: 45px;
}

.header__logo--website {
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    background: linear-gradient(to right, var(--apple-green2),var(--apple-green), var(--lime));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
.header__menu {
    display: flex;
    align-items: center;
    gap: 45px;
    font-size: 1.4rem;
    color: var(--grey);

}
.header__menu__dropdown {
    position: relative;
}
.header__menu__dropdown::after {
    content: url("../../assets/icons/dropdown-menu.png");
    transform: scale(0.5);
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15%;
    left: 92%;
}
.header__menu--link {
    color: inherit;
    text-decoration: none;
    padding: 3px 8px;
    border: 2px solid var(--apple-green);
    border-radius: 8px;
}