@import '../abstract/variables.css';

.header {
    position: fixed;
    width: 100%;    
    top: 0;
    z-index: 9999999999;
    
    background: var(--cream);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px 15px;

    box-shadow: 0 5px 6px var(--black-shadow);
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.8rem;
}

.header__logo--icon {
    width: 45px;
}

.header__logo--website {
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    background: linear-gradient(to right, var(--apple-green2),var(--apple-green), var(--lime));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
.header__menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 45px;
    font-size: 1.4rem;
    color: var(--grey);

}
.header__menu__dropdown {
    position: relative;
    cursor: pointer;
}
.header__menu__dropdown::after {
    content: url("../../assets/icons/dropdown-menu.png");
    transform: scale(0.5);
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15%;
    left: 92%;
}
.header__menu__dropdown::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 140%;
    z-index: 1000;
    background-color: var(--apple-green);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms;
}
.header__menu__dropdown:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
.header__menu--link {
    color: inherit;
    text-decoration: none;
    padding: 3px 8px;
    border: 2px solid var(--apple-green);
    border-radius: 8px;
}
.header__menu__dropdown:hover ~ .header__menu-nav__dropdown,
.header__menu-nav__dropdown:hover {
    transform: scale(1);
}
.header__menu-nav__dropdown {

    width: fit-content;
    position: absolute;
    top: 120%;
    right: 0%;

    display: flex;
    justify-content: center;
    gap: 40px;

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 350ms;
    transition-delay: 350ms;

    background-color: var(--cream);
    box-shadow: 0 5px 5px var(--black-shadow);
    padding: 15px 20px;
    border-radius: 0 0 8px 8px;

}
.nav-container {
    width: fit-content;
    text-wrap: nowrap;
}
.header__menu-nav__dropdown h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--font-black);
    opacity: 0.6;
}

.header__menu-nav__dropdown a {

    position: relative;
    display: block;
    margin-top: 10px;
    
    color: var(--grey);
    font-size: 1.4rem;
    width: fit-content;


}
.header__menu-nav__dropdown a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--apple-green);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms;

}
.header__menu-nav__dropdown a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}