@import '../abstract/variables.css';
/* General styles for the intro section */
.intro {
    background-color: var(--bg-intro-section);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    color: var(--cream);
}
.intro__img,
.intro__container {
    width: 520px;
    height: 350px;
}
.intro__img {
    display: flex;
    justify-content: center;
    align-items: center;

}
.intro__img img {
    width: auto;
    height: 100%;
}

.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-shadow: 0 0 3px var(--black-shadow);
}   
.intro__heading {
    font-size: 3rem;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.intro__desc {
    width: 75%;
    line-height: 1.5rem;
    font-size: 1.2rem;
}
.intro__link {
    margin-top: 10px;
    
}
/* Media query for different screens*/
@media all and (max-width: 850px) {
    .intro {
        padding: 30px 0;

    }
    .intro__img,
    .intro__container {
        width: 320px;
        height: 250px;
    }
    .intro__heading {
        font-size: 2.2rem;
    }
    .intro__desc {
        font-size: 1.125rem;
    }
}
@media all and (max-width: 550px) {
    .intro {
        flex-direction: column;
        gap: 0px;
    }
    .intro__img {
        width: 80px;
        height: 80px;
    }
    .intro__container {
        width: auto;
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }   
    .intro__heading {
        font-size: 1.8rem;
    }
    .intro__desc {
        text-align: center;
    }
}