@import '../abstract/variables.css';

.page-header {
    height: 90dvh;
    /* background: linear-gradient(to right, var(--apple-green), var(--apple-green2)); */
    background-color: var(--bg-pg-header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    gap: 20px;
    color: var(--cream);
    position: relative;
}
.page-header::after {

    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/landpage-bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
        
}

.page-header__heading {
    font-size: 3.5rem;
    text-shadow: 0 2px 4px var(--black);
}

.page-header__desc {
    width: 40%;
    text-shadow: 0 2px 4px var(--black);
}
.page-header__link {
    margin-top: 20px;
}

.page-header__heading,
.page-header__desc,
.page-header__link {
    transform: translateX(15vw);
}
