@import '../abstract/variables.css';

.page-header {
    height: 90dvh;
    /* background: linear-gradient(to right, var(--apple-green), var(--apple-green2)); */
    background-color: var(--bg-pg-header);
    background: url('../../assets/images/landpage-bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10dvh;
    font-size: 1.8rem;
    gap: 20px;
    color: var(--cream);
    position: relative;
}

.page-header__heading {
    font-size: 3.5rem;
    text-shadow: 0 2px 4px var(--black);
}

.page-header__desc {
    width: 40%;
    text-shadow: 0 2px 4px var(--black);
}
.page-header__link {
    margin-top: 20px;
}
