@import '../abstract/variables.css';

.social-media {
    width: 100vw;
    margin: auto;
    text-align: center;

    background-color: var(--bg-social-section);
    padding: 20px 0;


}
.social-media__heading {
    font-size: 3rem;
    text-shadow: 0 0 8px var(--black-shadow);
    color: var(--cream);
    
}
.social-media__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 30px 0;
}

.social-media__card {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
    width: 200px;


    padding: 20px 0;
    background-color: var(--cream);

    transition: transform 350ms;
}
.social-media__card:hover {
    transform: scale(1.09);
}
.social-media__card img {
    width: 35px;
}
.social-media__card p {
    font-size: 1.5rem;
    font-weight: 600;
}
.instagram-card {
    box-shadow: 0 0 8px #F56040;
    border-radius: 8px;
}
.instagram-text {
    background: linear-gradient(to right, #F56040, #833AB4, #5B51D8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
.facebook-card {
    box-shadow: 0 0 8px #112cf7;
    border-radius: 8px;
}
.facebook-text {
    background: linear-gradient(to right, #116bd8, #1f16cb);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
.twitter-card {
    box-shadow: 0 0 8px #000000;
    border-radius: 8px;
}
.twitter-text {
    background: linear-gradient(to right, #555, #2d2e2e, #050505);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}