@charset 'UTF-8';

/* Importing files */
@import './abstract/reset.css';
@import './abstract/variables.css';
@import './utils/button.css';
@import './utils/heading.css';

/* Importing Components */
@import './components/header.css';
@import './components/footer.css';
@import './components/main-services.css';
@import './components/content.css';
@import './components/about-ireland.css';
@import './components/social-media.css';

.must-know__img {
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 0 7px var(--black-shadow);
    background-color: blueviolet;
}

.must-know-app__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 30px 0;
}